<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div>
    <input type="text" (input)="onCountryChange($event.currentTarget, f)">

    <input type="text" [placeholder]="phonePlaceholder" required name="phone" [(ngModel)]="phone" #userPhone="ngModel">

    <input type="text" [placeholder]="postalPlaceholder" required name="postalCode" [(ngModel)]="postalCode" #userPostalCode="ngModel">

  </div>

  <div>
    <span *ngIf="!f.valid">
      Form is invalid
    </span>
  </div>
  <div>
    <span *ngIf="!userPhone.valid">
      Telphone code is invalid
    </span>
  </div>
  <div>
    <span *ngIf="!userPostalCode.valid">
      Postal code is invalid
    </span>
  </div>

  <div>
    <button [disabled]="!f.valid" type="submit">Submit</button>
  </div>

</form>
